
/* css_font_01.css */
/* em은 부모기준 rem은 초기값 기준 
  */
html, body{font-size: 100%;}
h1,h2,h3,h4,h5,h6,p,div,span,ul,li,ol,dl,dt,dd{font-size: 100%;}

h1{color:#fac;font-size: 1em;}
h1:hover{color:#af0;}
h1>a{color: inherit; text-decoration: none;font-size: 2em;}
h1>a>span{font-size: 1em;}
h1>a>span>em{font-size: 0.5em;}

.font_01{font-style: italic;} /*italic normal*/
.font_02{font-weight: }/*thin light normal bold bolder 100 400 900*/
.font_03{font-family: "myriad pro",arial,nanumGothic,"돋음",dotum,sans-serif;}/*영문기준 원하는 폰트,다른 대체폰트,한글폰트,대체폰트,형식 (두개 이상의 단어로 되어있는 폰트명은 ""을 표기해서 써야한다) */
.font_04{line-height: 1.2;}
.font_05{color:#634; font: normal bold 1em/1.7 "myriad pro",sans-serif;}
/* font:font-style font-weight font-size / line-height font-family; */