body, h1, h2,h3,h4,h5,h6,p,ul,li, ol,dl,dt,dd,div,img,q,blockque,pre,textarea{margin: 0;padding: 0;border: 0;}

*{margin: 0;padding: 0;border: 0;}

li{list-style:none; margin: 0;}
    .box{width: 800px;height: 600px; background-color: #eee;margin: 0;}
.header{width: 150px; height: 100px; background-color: #fa0; float: left;margin-left: 30px; margin-top: 20px;}
.main{width: 550px; height: 250px; background-color: #999; float:right; margin-top: 20px; margin-right: 40px;}

.section{width: 150px;height: 400px; background-color: #fa9;float: left;margin-left: 30px; margin-top: 10px;}
.submain2{width: 300px; height: 150px; background-color: #984;float:right;margin-right: 40px; margin-top: 20px;}
.submain{width: 230px; height: 150px; background-color: #569;float: right;margin-top: 20px;margin-right: 20px;}
.foot{width:  750px; height: 30px; background-color: #531;float: left;margin-left: 30px; margin-top:20px; }
.menu li{width: 150px;height: 30px; background-color: #354; margin-top: 10px;float: left;}
