/*slicelayout.css*/
/*loinbar---------------------------------------*/
.clearfix:after{content: "";display: block;clear: both; padding: 0}

body{margin: 0;padding: 0;}
ul,ol,li{list-style: none;}

.box{width: 1506px;height:auto; margin:0 auto;}
.loginbar{width: 904px;height: 88px; padding: 18px 302px 10px;}

.loginbarin{width: 400px;height: 96px; float: right;}
.logintab{margin: 0;margin-bottom: 10px; float: right;}
.logintab>li{float: right;}

.gift>li{width:auto;height: auto;float: right;}
.arrow{margin:19px 24px 19px;}

h1{margin-top: 36px; float: left}

/*gnb__________________________________________*/
.gnbtab{width: 904px;height: 58px;padding-left: 302px;padding-right: 302px; background-color: #FFCF00;margin-bottom: 0;}
.gnbtab>li{float: left;}
/*gray-----------------------------------------*/
.graybar{width: 700px;height: 12px;padding:12px 388px 20px 420px; background-color: #F4F4F4;}
.graybar>ul{margin: 0;}
.graybar>ul>li{float: left}
/*mainpic------------------------------------------*/
.mainpic{padding: 20px 302px 20px; }
/*content------------------------------------------*/
.content{}
.content>ul{width: 906px;height: auto;padding-left: 300px; padding-right: 300px;}
.content>ul>li{float: left;padding: 0;margin: 0}
/*brand--------------------------------------------*/
.brand>ul{padding-left: 302px;padding-right: 302px;}
.brand>ul>li{float: left; margin-right: 32px;}
.brand>ul>.sk{float: left; margin-right: 0;}
.hr{width: 904px; height: auto;padding-right: 302px;padding-left: 302px;}
/*sitemap---------------------*/
.blank{width: 1508px; height: 30px;}
.sitemaplogo{width: 904px;height: 30px; padding-left:302px;  padding-right:  302px; margin-bottom: 0; background-color: #4B4B4B;}
.sitemap{width: 904px; height: auto; padding:20px 302px 20px; background-color:#4B4B4B;}
.sitemap>ul{padding: 0;margin: 0;}
.sitemap>ul>li{float: left; margin: 0;}
.menu1>ul{padding: 15px;}
.menu2>ul{padding: 15px;}
.menu3>ul{padding: 15px;}
.menu4>ul{padding: 15px;}
.menu5>ul{padding: 15px;}
.menu6>ul{padding: 15px;}

/*footer----------------------------------*/
.footer{width: 904px; height: auto; padding: 30px 302px;}
.intro{margin: 0;}
.intro>li{float: left; margin-right: 20px;padding: 0;}

.address{margin:0 150px;}
.copy{margin:0 280px;}

