body{background-color: #888;}
h1{padding: 1rem 1rem 0.5rem 1rem; color:#171717; font-weight: bold; font-size: 1.5rem;
	background-color: #fff;}

/*depth menu_01*/

#depth1{width: 100%;height: 2.5rem;background-color: rgba(90,30,250,0.8);box-sizing: border-box;padding: 0.3rem 3rem;position: relative;z-index: 1000;}
#depth1>h2{width: 15%;float: left;margin-right: 1rem;color: #fff;}
#depth1>ul{float: right; width: 80%;height: auto;}
#depth1>ul>li{float: left;width: 20%;font-size: 1.3rem;color: #fff;font-weight: bold;}
#depth1>ul>li>ol{width: 100%;height: auto;background-color: #acc;}
#depth1>ul>li>ol>li{height: 2rem;color: #fff;font-weight: normal;}
#depth1 a{color: inherit;}




/*sliding menu*/
aside{width: 15rem; height: 100%;	position: fixed; z-index:500;
	background-color: #acc; top:0; left:-14rem;	box-sizing:border-box; padding:2rem;transition: 0.5s;}
aside>ul{width: 100%; height: auto;}
aside li{width: 100%; height: 11rem; background-color: #fff; 
	margin-bottom: 2rem; border-radius:50%; overflow: hidden;}
aside li>a{display:block; width:100%; height:100%; position:relative;}
aside li>a>img{width:auto; height:100%; 
	position: absolute; top:0; left:0; transition: all 0.5s;}
aside li>a:hover img{left:-50%;}

aside>.btn{width:2.5rem; height:10rem; background:inherit; 
	position:absolute; z-index:100; right:-2rem; top:0;}
aside>.btn>button{width: 100%;height: 100%;background-color: transparent;}
aside button:focus{outline: 0;}

aside button>i{display: block; width: 1.5rem;height: 1.5rem;background-image: url("../img/arrow.png");background-repeat: no-repeat;background-position: center;background-size: contain;}

aside button>span{display: block;transform:rotate(-90deg); text-transform: uppercase;}

.active{left: 0;transition: 0.5s;}
.active i{transform: rotate(180deg)}

/*tab menu*/

header{width: 500px;height: auto;border: 2px solid #fff;box-shadow: 2px 2px 2px #fff;float: right; margin: 1rem;}
h2{border-bottom: 1px solid #ccc;padding: 0.5rem;}
#tab_menu{width: 100%;height: auto;}
#tab_menu>ul{width: inherit;height: inherit;}
#tab_menu>ul>li{width: calc(100%/3);float: left;box-sizing: border-box;padding: 0.5rem;height: 2.3rem;line-height: 2.3rem;border-right: 1px solid #888;color: #fff;}
#tab_menu>ul>li.ui-tabs-active{background-color: #37f;color: #fd0;font-weight: bold;}
#tab_menu a{color:inherit; display: block;width: 100%;height: 100%;}

#tab_menu div{width: inherit;height: inherit;}

.menu_box{padding: 1rem;box-sizing: border-box;background-color: #37f;float: left;}
.menu_box>div:nth-child(1){color:#fff}
.menu_box>div:nth-child(2){color:#f9d}
.menu_box>div:nth-child(3){color:#fd0}

/*slidig banner*/

section{width: 100%;height: 100%;background-color: #caa;}
article{height: 200%; background-color: #cfa;}

/*아코디언메뉴 세로형*/
#accodionV{width: 40%;height: auto;margin: 1rem;float: left;}
#accodionV>h2{padding-bottom: 1rem;padding-left: 1.5rem;}
#accodionV>dl{width: 100%;height: auto;box-sizing: border-box;border: 2px solid #333;}
#accodionV>dl>dt{width: 100%;padding-top: 1rem;padding-bottom: 0.5rem;background-color: #c46;color:#fff;text-indent: 2rem;cursor: pointer;}
#accodionV>dl>dt:nth-of-type(2n){background-color: #a49;}
#accodionV>dl>dd{width: 100%;box-sizing: border-box;padding: 1.5rem;display: none;}

/*아코디언메뉴 가로형*/
#accodionH{width: 80%;height: 70vh;margin: 10vh 10%;}
#accodionH>h2{padding-top: 1rem; padding-bottom: .5rem;border-bottom: 2px solid #333;}
#accodionH>dl{width: 100%;height: 70%;border: 1px solid #171717; box-sizing: border-box;}
#accodionH>dl>dt{width: 2rem;height: 100%;background-color: #da9;border-right: 1px solid #fff; float:left;box-sizing: border-box;padding: 1rem;}
#accodionH>dl>dt>span{display: block; transform: rotate(-90deg) translate(-3rem); color: #fff;}
#accodionH>dl>dd{width: 30%;height: 100%;background-color: #fff;float: left;box-sizing: border-box;padding: 1rem;}

#accodionH>dl>dd{width: 0;}
/*#accodionH>dl>dt:hover + dd {width: 50%;}*/