/*add_banner.css*/
body>div{margin: 0 auto;}
/*#header---------------------------------------------------------------------*/
#header{width: 960px;height: 150px;background-color: #ccc;}
h1{width: 300px;height: 50px;padding-top: 20px;color: #111;text-transform: uppercase;font-weight: bolder;text-align: center;font-size: 2em;line-height: 2; margin: 0 auto; border-bottom: solid #fff 2px;}
#gnb{width: 100%;height: 30px;line-height: 30;text-align: center;}
#gnb>h2{width: 0;height: 0;overflow: hidden;}
#gnb>ul{width: inherit;height: inherit; margin-top: 2em;}
#gnb>ul>li{width: 25%;height: inherit;float: left;}
#gnb a{color: #95a}
#gnb>ul>li>a:hover,#gnb>ul>li>a:focus{border-bottom:2px solid ;}

/*#section---------------------------------------------------------------------*/
#section{width: 100%;height: 450px;background-color: #0af;}
.add_banner{width: 100%;height: 100%;background-color: #fac; overflow: hidden; position:relative;}
		/*배너버튼----*/
		.add_banner>div{width: 150px;height: 300px;position: absolute;top:50%;
			margin-top: -150px;}
		.add_banner button{width: inherit; height: inherit;font-size: 5em; background-color: transparent;}
		.add_banner button:hover,.add_banner button:focus
		{background-color:rgba(255,255,255,0.3);border-radius: 100px;}

		.add_banner>.left_btn{left:0;}
		.add_banner>.right_btn{right:0;}

		/*배너버튼----*/



.add_banner>ul{width: 300%;height: inherit; margin-left: -100%;}
.add_banner>ul>li{width: 33.333333%;height: 100%;background-color: #acc; font-weight: bold;line-height: 450px; font-size: 3rem;color: #fff;text-shadow: -2px -2px 2px #333; text-align: center;float: left;}
/*#content---------------------------------------------------------------------*/
#content{width: 960px;height: 700px;background-color: #ccc;}
/*#footer---------------------------------------------------------------------*/
#footer{width: 960px;height: 100px;background-color: #999;}


/*배너이동 테스트*/
.add_banner ul{transition: 1s;}
.left_btn:hover ~ ul{margin-left: 0;}
.right_btn:hover ~ ul{margin-left: -200%;}