/*join_popup.css-------------------*/

.pop_box {width: 340px;height: 430px;margin: 0 auto;}
.pop_box>div{float: left;text-align: left;}



	.pop_box .input_box {width: 340px;height: 380px; box-sizing: border-box;padding: 10px 20px ; font-size: 0.85rem;}
		
		.pop_box .input_box ul{width: 300px; height:400px;}
		.pop_box .input_box ul li{float: left; margin-bottom: 10px;width:inherit;height:30px;border: 1 solid #999;}
		.pop_box .input_box ul li label{width: 100px;height: auto;display: block;float: left;line-height: 30px;}
		.pop_box .input_box ul li label::before{content: "*";}
		.pop_box .input_box ul li input{width: 180px;height:30px;display: block;float: right;border: 1px solid #ccc; border-radius: 2px; }


		.pop_box .input_box>ul>li:nth-child(1){width: 300px;height: 20px;padding: 0;}
		.pop_box .input_box>ul>li:nth-child(1) input{width: 100%;height: 100%;}


		.pop_box .input_box>ul>li:nth-child(2){width: 300px;height: 120px;padding: 0;border: 1px solid #333;}
		.pop_box .input_box>ul>li:nth-child(2) textarea{width:100%;height:100%;overflow-y: scroll; box-sizing: border-box; padding: 10px;border:0}
		

	
.pop_box button{width: 170px;height:50px;color: #fff;text-align: center;line-height: 50px;font-weight: bold;letter-spacing: 2;float: left;}
	.pop_box .submit {background-color: #6D0F43;}
	.pop_box .del {background-color: #333;}