/*pc.css*/
@media screen and (min-width:1024px){
		
	#head_box{width: 9.38rem;height:auto;box-sizing: border-box;padding: 0.75rem; background-color: #222;}
	
	#head_box h1 {
	}
	
	#head_box .unb {
	}
	#head_box h2 {
	}
	#head_box button {
	}
	#head_box button .fa {
	}
	#head_box button .fa#head_box button .hidden {
	}
	#head_box button .fa {
	}
	#head_box button .fa#head_box button .fa {
	}
	#head_box button .fa
}