/*pc.css*/
@media screen and (min-width:1024px){
	
	
	/*	header*/
	#head_box{min-width: 7.5rem;width:8.453125vw ;transition: 0.1s}
	#head_box h1{float: right;}
	
	#head_box .menu{ float: left; font-size: 1.5rem;}
	#head_box .cart{ display:none;}
	#head_box .my{display:none;}
	

/*	section_video*/
	.cf_box{position: fixed;top: 0;width: 100%;height: 100%; z-index: -100;overflow: hidden;background-color: #000;}
	.dark{position: absolute;width: 100%;height: 100%;margin-top: 0;margin-left: 0;background-color: rgba(0,0,0,0.3);z-index: 100}
	#video {position: absolute;min-width: 120rem;width: 100vw;height: auto;top: 0;left: 0;overflow: hidden;
	}
	


/*	section banner*/
	
	#add_banner{min-height:200px; height:12.5vw;background-color: #000;position:relative; z-index: 0;margin-top: 100vh;}

	#add_banner #banner_box>ul{}
	#add_banner #banner_box>ul>li{}
	
/*	article item*/
	
	
	#item ul {min-width: calc(100% / 5); width: calc(100vw / 5 / 360 * 100);}
	
	
	/*	article content*/

	.content li {width: 25%;height: 20.5vw;font-size: 3vw;}
	.content span{display: block; margin-top: 25%;}
	
	#content_02 ul{float: left;width:60%;}
	#content_02 li{width:20%;}
	#content_02 li>span{margin-top: 28%;}
	#content_03 ul{float: left;width:40%;}
	#content_03 li{ width:20%;}
	#content_03 li>span{margin-top: 30%;}
	
	#content_01 li:nth-child(1){background-image: url('../../img/main/pc/everydaymakeup.png')}
	#content_01 li:nth-child(2){background-image: url('../../img/main/pc/eyebrowbar.png')}
	#content_01 li:nth-child(3){background-image: url('../../img/main/pc/lastchance.png')}
	#content_01 li:nth-child(4){background-image: url('../../img/main/pc/eyemix.png')}
	#content_02 li:nth-child(1){background-image: url('../../img/main/pc/foundation.png')}
	#content_02 li:nth-child(2){background-image: url('../../img/main/pc/color.png')}
	#content_02 li:nth-child(3){background-image: url('../../img/main/pc/brush.png')}
	#content_03 li:nth-child(1){background-image: url('../../img/main/pc/brand.png')}
	#content_03 li:nth-child(2){background-image: url('../../img/main/pc/store.png')}
	
	/*	footer*/
	
	
