head
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(charset="UTF-8")
	link(rel="stylesheet", href="./css/index.css")
	script(src="http://code.jquery.com/jquery.min.js")
	script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
	title Document