<!DOCTYPE html>
html(lang="en")

	include _base
	body
		include _header
		section
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quaerat blanditiis culpa, eaque cum soluta laudantium odio, nisi dolore iure cumque suscipit aliquid vel aut neque consequuntur quisquam delectus ab asperiores! Repellat unde accusamus perferendis facilis esse labore voluptatem, ipsam consectetur, blanditiis! A itaque, atque tempore tempora, velit eum cum. Saepe itaque voluptatibus incidunt ullam recusandae neque impedit dolor laboriosam aliquid, harum ut, labore architecto reiciendis ratione debitis fuga suscipit officia molestiae blanditiis aliquam ipsum tempora, in excepturi. Eligendi ex odio mollitia a, veritatis vitae ea, esse! Adipisci id laboriosam nihil amet animi, harum inventore sunt eveniet dolorum omnis, eum!
			
		div.name
		.name
			#box