/*bg_01.css*/

html,body{height: 100%;color:#333;}
html,body,h1,h2,h3,h4,h5,h6,p,pre,div,img,ul,ol,li,dt,dd{margin: 0;padding: 0;border: 0;}
a{text-decoration:none;color:#777;}
a:hover{text-decoration:underline;}

ul,ol,li{list-style: none;}

table,tr,td,th,thead,tbody,tfoot{border: 1px solid #777;border-spacing:0; border-collapse: collapse;}

a:focus{outline: 3px solid #fa0; outline-offset: 2px; position:relative; z-index: 1000;}
.clearfix,.clearfix:after,.clearfix:before{content:""; display: block;clear: both;}


.link a {width: 100%; height: 100%; display: block; background-repeat: no-repeat;}
.link a>span{width: 0;height: 0;display: block;overflow: hidden;}
.clearfix:after{content: ""; display: block; clear: both;}
/*design*/
ul{width: 100%;height: auto;}
ul>li{width: 63px;height: 65px;border:1px solid #777; margin:0.5em; float:left; }

.link>li>a{background-image: url("../classimg/multi.png");}

.li_01>a{background-position: -551px -47px;}
.li_02>a{background-position: -819px -47px;}
.li_03>a{background-position: -730px -247px; transition: 1s;}
.li_04>a{background-position: -819px -247px;}
.li_05>a{background-position: -910px -147px;}
.li_06>a{background-position: -640px -348px;}
.li_07>a{background-position: -910px -446px;}
.li_08>a{background-position: -640px -548px;}
.li_09>a{background-position: -640px -647px;}
.li_10>a{background-position: -551px -747px;}

.li_01>a:hover{background-position: -51px -47px;}
.li_02>a:hover{background-position: -319px -47px;}
.li_03>a:hover{background-position: -230px -247px;}
.li_04>a:hover{background-position: -319px -247px;}
.li_05>a:hover{background-position: -410px -147px;}
.li_06>a:hover{background-position: -140px -348px;}
.li_07>a:hover{background-position: -410px -446px;}
.li_08>a:hover{background-position: -140px -548px;}
.li_09>a:hover{background-position: -140px -647px;}
.li_10>a:hover{background-position: -51px -747px;}