body{background-color: #ccc;}
h1{max-width:  width: 80%; min-width:360px;margin: 0 auto;font-size: 3rem;text-align: center;border-bottom: 1px solid #fff;}
h2{width: 100px;height: 50px;padding: 9rem;margin: 0 auto;background-color: #aff;border-radius: 0.3rem;font-size: 2rem; display: none;}
.pc{display: block;}
.tab{}
.mob{}

/*mobile:480px*/
@media screen and (max-width:480px){
	body{background-color: #afc;}
	.mob{display: block;}
	.pc{display: none;}
	.tab{display: none;}
}


/*tablet:768px*/
@media screen and (min-width:481px) and (max-width:768px){
	
	body{background-color: #0af;}
	.tab{display: block;}
	.pc{display: none;}
	.mob{display: none;}
}