h2{width: 450px;height: 73px;background:linear-gradient(90deg,#f06,#FB7CAF);margin-bottom: 5px;box-sizing: border-box;padding: 20px 30px;}
h2>span{font-size: 1.5rem;color: #fff;}

.box2{width: 450px;height: 270px;box-sizing:border-box;padding: 20px 40px;border-bottom: 1px solid #111;}
h3{font-size: 1.3rem;margin-bottom: 10px;}

.confirm{width: 370px;height: 100px;box-sizing:border-box;padding: 20px 10px;background-color: #f1f1f1; margin:20px 0;}
dl{margin-bottom: 20px;}
dt{width: 80px;height: 10px;display: inline-block;margin-right: 16px;}
dd{display: inline-block;}

.number input,select{width: 60px;height: 20px;}
.number dd{width: 60px;height: 20px;border: 1px solid #111;margin-right: 15px; position: relative;}
.number dd:last-child{margin-right:0}

.mobile_select dd{margin-right: 40px; }
.mobile_select dd:last-child{margin-right:0}

.check{width: 320px;height: 30px;}
.number>dd::after{content: "-";position: absolute; top: 5px; right: -12px;}
.number>dd:last-child::after{display: none;}
/*.number>dd:nth-child(2)::after{content: "-";}*/

#yes{width: 70px;height: 40px;background-color: #f06;margin: 10px 60px 0 100px;}
#no{width: 70px;height: 40px;background-color: #ccc;}