body{font-size: 16px}
h1{width: 100%;height: 3rem;background-color: #ccc;box-shadow: 0 2px 2px #333; margin-bottom: 1rem;}

ul{width: 80%;height: auto;padding: 1rem;border: 3px solid #777;border-radius: 0.3rem; margin-left: 10%;background-color: #dfdfdf;box-sizing: border-box;font-size: 2em;}
li{width: 1rem;height: 2rem;margin-bottom: 0.2rem;font-size: 0.2rem;overflow: hidden;border-bottom: 1px solid #0af;line-height: 2rem;font-size: 0.5em;}

ul:hover>li{width: 100%;}

li:nth-child(1){background-color: #f7f;transition-duration:2s;}
li:nth-child(2){background-color: #f2f;transition-duration: 1s; transition-delay: 1s;}
li:nth-child(3){background-color: #f4f;transition-duration: 2s;transition-timing-function: ease-in;}
ul:hover>li:nth-child(4){background-color: #2ff;transition-property: background-color;transition-duration: 2s;}
li:nth-child(4):hover{background-color:#94d;}
li:nth-child(5){background-color: #9f2;
transition-duration: 2s;
transition-timing-function: cubic-bezier(0,1.7,1,-1.5)}
li:nth-child(6){background-color: #f93;}
li:nth-child(7){background-color: #f11;}
li:nth-child(8){background-color: #f99;
transition: all 2s ease-out 0.5s;
}

/*transition:움직임을 처리하는 기능(일회성)
transition-durarion:일정시간s
transition-delay:지연시간
transition-timing-function:속도감
    -ease,ease-in,ease-out,ease-in-out,cubic-bezier,linear
  약간변화  점점빠르게 점점느리게 빨랐다 느리게 속도감 조절 속도 변화없음 
transition-property:속성(transition을 적용시킬 속성)

transition:property duration timing-function delay;

*/